.spacing{
    padding-top: 8rem;
}
.experience__container{
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.experience__container > div{
    background: radial-gradient(var(--color-bg-variant), transparent);
    padding: 3rem 3rem 5rem 3rem;
    border-radius: 4rem;
    border: 5px solid var(--color-primary);
    transition: var(--transition);
}
.experience__container > div:hover{
    box-shadow: 0rem 0rem 3rem var(--color-primary);
    border: 5px solid var(--color-white);
    cursor: default;
}
.experience__container > div:hover .experienceIcons{
    color: rgb(218, 226, 218);
}
.experience__container > div h3{
    text-align: center;
    margin-bottom: 5rem;
    color: rgb(218, 226, 218);
    font-weight: 900;
}
.experience__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 4rem;
    column-gap: 2rem;
}
.experience__details{
    display: flex;
    gap: 1rem;
}
.experience__details h4{
    font-size: 1.1rem;
    color: rgb(218, 226, 218);
}
.experienceIcons{
    margin-top: 6px;
    color: var(--color-primary);
    font-size: 1.5rem;
    transition: 1s ease-in-out;
}

/* FOR TABLETS */
@media screen and (max-width: 1024px){
    .experience__container{
        grid-template-columns: 1fr;
        padding-top: 0;
    }
    .experience__container > div{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    .experience__content{
        padding: 1rem;
    }
}

/* FOR PHONES */
@media screen and (max-width: 600px){
    .experience__container{
        gap: 1rem;
        padding-top: 0;
    }

    .experience__container > div{
        width: 100%;
        padding: 2rem 1rem;
    }
}