.photoIIGallery{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 3rem;
}
.photoIIGallery .headingss{
    display: grid;
    grid-template-columns: 20% 60%;
    gap: 5%;
    justify-content: center;
}
.photoIIGallery .titlee{
    text-align: center;
    color: white;
}
.photoIIGallery .descriptionn{
    text-align: center;
}

@media screen and (max-width: 1024px){
    
    .photoIIGallery .headingss{
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 80%;
        justify-self: center;
    }
}

/* FOR PHONES */
@media screen and (max-width: 600px){
    .photoIIGallery{
        padding-top: 4rem;
    }
    .photoIIGallery .headingss{
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 80%;
        justify-self: center;
    }
}